.fitcontent {
  float: left;
}

.wd {
  width: 500px;
}
.txt_alignment {
  text-align: center;
}

.sub_btn {
  text-align: center;
}

.lstSub_btn {
  margin: 10px;
  width: 60%;
  background-color: gray;
  color: white;
}
.lstSub_btn:hover {
  background-color: gray;
  color: white;
}
