.noHover {
  pointer-events: none;
  cursor: default;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.yelow {
  background-color: yellow;
}
.lst_quiz_btn {
  background-color: gray;
  color: white;
}

.lst_quiz_btn:hover {
  background-color: gray;
  color: white;
}
.txt_alignment {
  text-align: center;
}

.sub_btn {
  text-align: center;
}
